extends layout

block layout-content
	div.MenuBox
		h1.MenuTitle #{title}
		//h2.MenuPrompt Please select an option:
		div.NavButtons
			a(href="/shipping/ship")
				div.NavButton Ship Parts
			a(href="/shipping/receive")
				div.NavButton Receive Parts
	+returnNavButtons
