extends layout

block layout-content
	div.MenuBox
		h1.MenuTitle #{title}
		h2.MenuPrompt What would you like to query?
		div.NavButtons
			a(href="/query/lots/single")
				div.NavButton Single Lot
			form(action="/query/lots/all" method="POST")
				button(type="submit" class="NavButton")
					h4 All Lots
			//a(href="/query/lots/all_pdc")
				div.NavButton ALL Lots in Collection
			a(href="/query")
				div.ReturnButton Return
